/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Sacramento&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
  padding:0;
  margin: 0;
  list-style:none;
  box-sizing:border-box;
  text-decoration: none;
  zoom:98%;
  

}
[class*="col-"]{
  float: left;
  padding: 0;
  margin: 0;
  
}
html, body {
  max-width: 100%;
  text-align: justify;
  
  
}


.container-fluid{
  padding: 0px !important;
  margin: 0px !important;

}

.footer{
  position:relative;
  bottom: 0;
  background:black;
  height:200px;
  background-image: url(source/fondo.png);
  color:white;
  margin-top:40px;
  width: 100%;
  transition: all 2000ms;
}

.footer:hover{
  margin:auto;
  margin-top:40px;
  transition: 680ms;
  filter: grayscale(150%); 
}

.footerpago{
  position:relative;
  text-align:right;
  margin-right:28px;
  margin-top:25px;

}

.footercodigoestrella{
  position:absolute;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 29px;
  color:#ffffff;
  margin-top:5px;

}
.footertexto{
  margin-top:65px;
  margin-right:15px;
}

.linea{
  position:relative;
  width:2px;
  height: 150px;
  background-color:rgb(255, 255, 255);
  top:0;
  bottom:0;

  border-radius: 10%;
  margin-top: 22px;
}

.footerdescripcion{
  position:relative;
  text-align:left;
  margin-left:28px;
  margin-top:25px;
}

.imagefooter{
  margin:auto;
  width: 120px;
  
}

.Loading{
  margin-bottom: 100.1vh;
}


.title-codigoestrella-spanish{
  position:absolute;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 49px;
  padding-right:80px;
  color:#a8a9a5;
  text-shadow: 2px 2px #525252;
  transition:  0.8s linear 0.3s;
}

.title-codigoestrella-english{
  position:absolute;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 49px;
  padding-right:80px;
  text-shadow: 2px 2px rgba(110, 110, 110, 0.349);
  color:transparent;
  background-image: url(https://i.postimg.cc/DfgsPnRp/40ab7a26c90ee682a23e2dd55f978a65.jpg);
  height: 100px;
  background-size: 49%;
  -webkit-background-clip: text;
  transition:  0.4s linear 0.2s;
}

.Navbar{

  position:relative;
  height:80px;
  background-color: #ffffff;
  font-size: 50px;
  display: flex;

 
}

.titulo{
position:absolute;
font-size: 40px;
 
}

.imag{  
  position:relative;
  height:300px;
  background-image: url(source/fondo.png);
  font-size: 50px;


}


.toggle{
  float:right;
  position:relative;
  z-index:10;
  display: block;
  padding-right:267.5px;
 
  margin-top:-165px;

}
.America{
  width: 50px;
  margin-top: -2px;
  margin-left:10px;
  cursor: pointer;
}

.button{
  width: 200px;
  float:right;
  transition: all 5000ms;
 
}
.button:hover{
  background-color: transparent;
  transition: 800ms;
  filter: drop-shadow(0px 0px 7px rgb(255, 238, 6));

}
.button:focus{
  background-color: transparent;
  filter: drop-shadow(0px 0px 7px rgb(255, 238, 6));
  transition: 800ms;
}

.button:active{
  background: rgba(253, 249, 0, 0);
  transition: 900ms; 
}
.button:link{
  background: rgba(253, 249, 0, 0);
  transition: 9000ms; 
}


.position{
  display: block;
  padding-right:260px;
  padding-top:89px;

}

.position_button{
  padding-right:0px;
  padding-top:110px;
}

.titulo{
  padding-right:200px;
  padding-top:0px;
  align-items: center;
  justify-content: center;
}

.imagen{  
  position:absolute;
  width: 400px;
  margin:auto;
  margin-right:30%;
  margin-top: 57px;
}

.h1{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  padding-top: 18px;
  font-size:26px;
  text-decoration: none;
  

}
.menu-fixed{
  position: fixed;
  z-index:200;
  background-color: #3a3a3a00;
}
.menu{

  text-align: center;
  background-color: #3a3a3a;
  list-style:none;
  box-sizing:border-box;
  text-decoration: none;
  margin-bottom: 70px;
  cursor:pointer;
  z-index:100;
}
.menumarginbottom{
  margin-top: 20%;
}
.menubuttons{
  width: 100%;


}
.menubuttons ul li{
  position:relative;
  display: inline;
}

.menubuttons ul li {
  color:white; 
}

.hover{
  position:absolute;
  opacity:0;
  height:37px;
  z-index:999;
  width: 100%;
}
.hover:hover{
  opacity:1;
  transition: 800ms; 
}

.drop-down-menubuttons-nivelone{
  display:block;
  position:absolute;
  width: 95%;
  margin-left:2%;
  margin-top: 41px;
  background: #474747ad;
}
.drop-down-menubuttons-niveltwo{
  display:block;
  position:absolute;
  width: 95%;
  margin-left:2%;
  margin-top: 79px;;
  background: #474747ad;
}
.drop-down-menubuttons-nivelthree{
  display:block;
  position:absolute;
  width: 95%;
  margin-left:2%;
  margin-top: 117.5px;
  background: #474747ad;
}

a{
  color:white;
  justify-content:center;
  border: 0px solid;
  
}


.buttonstart{
  width: 400px;
  margin-bottom: 50px;
 
}

.buttongetstart{
  width: 200px;
  margin-bottom: 50px;
  margin-top:5%;
}

.bigtitle{
  font-size: 50px;
  color:transparent;
  font-family: 'Fredericka the Great', cursive;
  background-image: url("https://i.ibb.co/mq7vPkz/star-3.jpg");
  background-position: center;
  -webkit-background-clip: text;

}

.subrayado{
  background: #fdff6f;

}

font{  font-family: englisht;
}

/*botons */
.laravel{
  color:#fd8888;
}

.react{
  color:rgb(138, 138, 255);
}

/*end botons */

.imagestart{
  display:block;
  margin:auto;
  width: 80%;
  margin-bottom: 90vh;
}

.imagewaterdrop{
  position:absolute;
  display:block;
  width: 80px;
  z-index:-150;
  margin-top: 409px;
  margin-left:10%;
  opacity:0.4;

}

.buttonphp{

  width: 300px;
}

.Vendiagram{
  float: right;
  width: 200px;
 
}

.spinner-border{

  padding:19px;
}

.imagecarbon{
  width: 100%;
  
}
.imagewordpress{
  display:block;
  margin:auto;
  width: 50%;
  padding-top: 2%;
  padding-bottom:  2%;;
}

.imagehtml{
  display:block;
  margin:auto;
  margin-bottom: 5%;
  margin-top: 5%;
  
}

.imagejavascript{
  width: 50%;
  margin-top: 2%;
  margin-bottom:  2%;
  border : 5px solid black;
}

.textoderecho{
  margin-left: 10%;
}


/*Modal*/
.model{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:101%;
  height:101%;

  background-color: rgba(0, 0, 0, 0.774) ;
  z-index:100;
}
.modal-content{
  position:absolute;
  width: 50%;
  height:70%;

  left:25%;

  top:15% !important;
}

.modal-body{
  overflow:scroll;
  overflow-x: hidden;
}

.close:hover{
  color:red;
}

/*close-Modal*/

.Link{
  color:rgb(4, 0, 255);
}

.Link:hover{
  color:rgb(4, 0, 255);
}

li{
  margin-left: 3%;
}

.footer{
  background:black;
  height:200px;
  background-image: url(source/fondo.png);
}