/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Sacramento&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
  padding:0;
  margin: 0;
  list-style:none;
  box-sizing:border-box;
  text-decoration: none;
  

}
[class*="col-"]{
  float: left;
  padding: 0;
  margin: 0;
  
}
html, body {
  max-width: 100%;
  text-align: justify;
  
  
}


.container-fluid{
  padding: 0px !important;
  margin: 0px !important;

}

.footer{
  position:relative;
  bottom: 0;
  background:black;
  height:200px;
  background-image: url(source/fondo.png);
  color:white;
  margin-top:40px;
  width: 100%;
}

.footer:hover{
  margin:auto;
  margin-top:40px;
  transition: 680ms;
  filter: grayscale(150%); 
}

.footerpago{
  position:relative;
  text-align:right;
  margin-right:28px;
  margin-top:25px;

}

.footercodigoestrella{
  position:absolute;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 29px;
  color:#ffffff;
  margin-top:5px;

}
.footertexto{
  margin-top:65px;
  margin-right:15px;
}

.linea{
  position:relative;
  width:2px;
  height: 150px;
  background-color:rgb(255, 255, 255);
  top:0;
  bottom:0;

  border-radius: 10%;
  margin-top: 22px;
}

.footerdescripcion{
  position:relative;
  text-align:left;
  margin-left:28px;
  margin-top:25px;
}

.imagefooter{
  margin:auto;
  width: 150px;
  
}

.Loading{
  margin-bottom: 72.1vh;
}


.title-codigoestrella{
  position:absolute;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 49px;
  padding-right:80px;
  color:#a8a9a5;
  text-shadow: 2px 2px #525252;

}

.Navbar{
  position:relative;
  height:80px;
  background-color: #ffffff;
  font-size: 50px;
  display: flex;

 
}

.titulo{
position:absolute;
font-size: 40px;
 
}

.imag{  
  position:relative;
  height:300px;
  background-image: url(source/fondo.png);
  font-size: 50px;


}

.button{
  width: 200px;
  float:right;
 
}
.button:hover{
  opacity: 0.6;
  background-image: url(source/star.jpg);
  transition: 800ms;
  filter: drop-shadow(0px 0px 7px rgb(255, 238, 6));
}


.position{
  display: block;
  padding-right:260px;
  padding-top:89px;

}

.position_button{
  padding-right:0px;
  padding-top:110px;
}

.titulo{
  padding-right:200px;
  padding-top:0px;
  align-items: center;
  justify-content: center;
}

.imagen{  
  position:absolute;
  
  width: 380px;


  margin:auto;
  margin-right:30%;
  margin-top: 57px;


}

.h1{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  padding-top: 18px;
  font-size:26px;
  text-decoration: none;
  

}
.menu-fixed{
  position: fixed;
  z-index:200;
  background-color: #3a3a3a00;
}
.menu{

  text-align: center;
  background-color: #3a3a3a;
  list-style:none;
  box-sizing:border-box;
  text-decoration: none;
  margin-bottom: 70px;

  z-index:100;
}
.menumarginbottom{
  margin-top: 20%;
}
.menubuttons{
  width: 100%;

}

.menubuttons ul li{
  display: inline;
}

.menubuttons ul li {
  color:white;
   

}

a{
  color:white;
  justify-content:center;
  border: 0px solid;
  
}


.buttonstart{
  width: 400px;
  margin-bottom: 50px;
 
}

.buttongetstart{
  width: 200px;
  margin-bottom: 50px;
  margin-top:5%;
}

.bigtitle{
  font-size: 50px;
  color:transparent;
  font-family: 'Fredericka the Great', cursive;
  background-image: url("https://i.ibb.co/mq7vPkz/star-3.jpg");
  background-position: center;
  -webkit-background-clip: text;

}

.subrayado{
  background: #fdff6f;

}

font{  font-family: englisht;
}

/*botons */
.laravel{
  color:#fd8888;
}
.laravel:hover{
  color:#fd8888;
}
.laravel:focus{
  color:#fa3a3a;
}
.react{
  color:rgb(138, 138, 255);
}
.react:hover{
  color:rgb(138, 138, 255);
}
.react:focus{
  color:rgb(53, 53, 255);
}
/*end botons */

.imagestart{
  display:block;
  margin:auto;
  width: 10%;
  margin-bottom: 70vh;

}

.imagewaterdrop{
  
  position:absolute;
  display:block;

  width: 10%;
  z-index:-150;
  margin-top: 409px;
  margin-left:45%;
  opacity:0.2;

}

.buttonphp{

  width: 300px;
}

.Vendiagram{
  float: right;
  width: 200px;
 
}

.spinner-border{

  padding:19px;
}

.imagecarbon{
  width: 100%;
  
}
.imagewordpress{
  display:block;
  margin:auto;
  width: 50%;
  padding-top: 2%;
  padding-bottom:  2%;;
}

.imagehtml{
  display:block;
  margin:auto;
  margin-bottom: 5%;
  margin-top: 5%;
  
}

.imagejavascript{
  width: 50%;
  margin-top: 2%;
  margin-bottom:  2%;
  border : 5px solid black;
}

.textoderecho{
  margin-left: 10%;
}


/*Modal*/
.model{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:101%;
  height:101%;

  background-color: rgba(0, 0, 0, 0.774) ;
  z-index:100;
}
.modal-content{
  position:absolute;
  width: 50%;
  height:70%;

  left:25%;

  top:15% !important;
}

.modal-body{
  overflow:scroll;
  overflow-x: hidden;
}

.close:hover{
  color:red;
}

/*close-Modal*/

.Link{
  color:rgb(4, 0, 255);
}

.Link:hover{
  color:rgb(4, 0, 255);
}

li{
  margin-left: 3%;
}

.footer{
  background:black;
  height:200px;
  background-image: url(source/fondo.png);
}